In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn import metrics

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Load data frame using pandas
df = pd.read_csv('/content/drive/My Drive/1_gecco2019_water_quality.csv', index_col = 0)
df
#Colab Notebooks/

                       Time     Tp       pH  ...      SAC      PFM  Event
1       2017-07-01 00:00:00   6.94  8.60774  ...  3.58683  43.7559  False
2       2017-07-01 00:01:00   6.93  8.60589  ...  3.59025  43.4366  False
3       2017-07-01 00:02:00   6.94  8.60220  ...  3.58318  43.5994  False
4       2017-07-01 00:03:00   6.94  8.60220  ...  3.58769  43.3704  False
5       2017-07-01 00:04:00   6.94  8.60405  ...  3.58287  43.1656  False
...                     ...    ...      ...  ...      ...      ...    ...
132476  2017-09-30 23:55:00  10.30  8.56593  ...  4.53577  56.4686  False
132477  2017-09-30 23:56:00  10.30  8.56593  ...  4.53008  56.3567  False
132478  2017-09-30 23:57:00  10.30  8.56593  ...  4.53512  55.0477  False
132479  2017-09-30 23:58:00  10.30  8.56228  ...  4.54084  55.4052  False
132480  2017-09-30 23:59:00  10.30  8.56410  ...  4.53445  54.9886  False

[132480 rows x 8 columns]

In [ ]:
#Map True and False to values 0 and 1 respectively

#0 represents Anomaly
#1 represents Normalcy

df['Event'] = df['Event'].astype('category')
encode_map ={
    False : 1,
    True : 0 }

df['Event'].replace(encode_map, inplace=True)

In [ ]:
#Count of values of 0 and 1

df['Event'].value_counts()

1    132268
0       212
Name: Event, dtype: int64

In [ ]:
#Wherever some of the fields are not filled with data,fill those fields with the mean value


df['pH'].fillna((df['pH'].mean()), inplace=True)
df['Tp'].fillna((df['Tp'].mean()), inplace=True)
df['Cond'].fillna((df['Cond'].mean()), inplace=True)
df['Turb'].fillna((df['Turb'].mean()), inplace=True)
df['SAC'].fillna((df['SAC'].mean()), inplace=True)
df['PFM'].fillna((df['PFM'].mean()), inplace=True)

In [ ]:
df

                       Time     Tp       pH  ...      SAC      PFM  Event
1       2017-07-01 00:00:00   6.94  8.60774  ...  3.58683  43.7559      1
2       2017-07-01 00:01:00   6.93  8.60589  ...  3.59025  43.4366      1
3       2017-07-01 00:02:00   6.94  8.60220  ...  3.58318  43.5994      1
4       2017-07-01 00:03:00   6.94  8.60220  ...  3.58769  43.3704      1
5       2017-07-01 00:04:00   6.94  8.60405  ...  3.58287  43.1656      1
...                     ...    ...      ...  ...      ...      ...    ...
132476  2017-09-30 23:55:00  10.30  8.56593  ...  4.53577  56.4686      1
132477  2017-09-30 23:56:00  10.30  8.56593  ...  4.53008  56.3567      1
132478  2017-09-30 23:57:00  10.30  8.56593  ...  4.53512  55.0477      1
132479  2017-09-30 23:58:00  10.30  8.56228  ...  4.54084  55.4052      1
132480  2017-09-30 23:59:00  10.30  8.56410  ...  4.53445  54.9886      1

[132480 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132480 entries, 1 to 132480
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    132480 non-null  object
 1   Tp      132480 non-null  float64
 2   pH      132480 non-null  float64
 3   Cond    132480 non-null  float64
 4   Turb    132480 non-null  float64
 5   SAC     132480 non-null  float64
 6   PFM     132480 non-null  float64
 7   Event   132480 non-null  int64
dtypes: float64(6), int64(1), object(1)
memory usage: 9.1+ MB

In [ ]:
#Data Type conversion

df['Time'] = pd.to_datetime(df['Time']).astype(np.int64)
df['Tp'] = df['Tp'].astype('float32')
df['pH'] = df['pH'].astype('float32')
df['Cond'] = df['Cond'].astype('float32')
df['Turb'] = df['Turb'].astype('float32')
df['SAC'] = df['SAC'].astype('float32')
df['PFM'] = df['PFM'].astype('float32')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132480 entries, 1 to 132480
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    132480 non-null  int64
 1   Tp      132480 non-null  float32
 2   pH      132480 non-null  float32
 3   Cond    132480 non-null  float32
 4   Turb    132480 non-null  float32
 5   SAC     132480 non-null  float32
 6   PFM     132480 non-null  float32
 7   Event   132480 non-null  int64
dtypes: float32(6), int64(2)
memory usage: 6.1 MB

In [ ]:
#Define Input Columns(X) and Output Columns(y) 

X = df.iloc[:, 1:7]
y = df.iloc[:, -1]
X

           Tp       pH      Cond      Turb      SAC        PFM
1        6.94  8.60774  0.020954  0.125931  3.58683  43.755901
2        6.93  8.60589  0.020965  0.127219  3.59025  43.436600
3        6.94  8.60220  0.020968  0.126482  3.58318  43.599400
4        6.94  8.60220  0.020972  0.126184  3.58769  43.370399
5        6.94  8.60405  0.020973  0.127908  3.58287  43.165600
...       ...      ...       ...       ...      ...        ...
132476  10.30  8.56593  0.020724  0.126518  4.53577  56.468601
132477  10.30  8.56593  0.020727  0.126575  4.53008  56.356701
132478  10.30  8.56593  0.020723  0.126512  4.53512  55.047699
132479  10.30  8.56228  0.020720  0.126477  4.54084  55.405201
132480  10.30  8.56410  0.020723  0.126566  4.53445  54.988602

[132480 rows x 6 columns]

In [ ]:
#Normalise the values

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
X = scaler.fit_transform(X) 
X

array([[0.6737864 , 0.99319005, 0.9026238 , 0.07063466, 0.5878054 ,
        0.03734416],
       [0.6728155 , 0.99297655, 0.9031321 , 0.0713571 , 0.58836585,
        0.02985793],
       [0.6737864 , 0.99255073, 0.9032484 , 0.07094371, 0.5872072 ,
        0.03367478],
       ...,
       [1.        , 0.9883659 , 0.8926773 , 0.07096054, 0.74321   ,
        0.30208665],
       [1.        , 0.98794466, 0.89255667, 0.07094091, 0.7441474 ,
        0.3104685 ],
       [1.        , 0.9881547 , 0.89269453, 0.07099082, 0.7431002 ,
        0.30070108]], dtype=float32)

In [ ]:
#Split Train and Test Data

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
#Over Sample the Data using SMOTE

from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state=42)
x_train, y_train = sm.fit_resample(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
#Encode output
y_train=tf.keras.utils.to_categorical(y_train)
y_test=tf.keras.utils.to_categorical(y_test)

#Reshape Train Data
x_train = x_train.reshape(x_train.shape[0],x_train.shape[1], 1)
x_test = np.asarray(x_test).reshape(x_test.shape[0],x_test.shape[1], 1)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(211610, 6, 1)
(211610, 2)
(26496, 6, 1)
(26496, 2)

In [ ]:
verbose, epochs, batch_size = 0, 100, 64
n_timesteps, n_features, n_outputs = x_train.shape[0], x_train.shape[1], y_train.shape[1]

#Define CNN Model

model = tf.keras.Sequential()
model.add(tf.keras.layers.Conv1D(filters=64, kernel_size=2, activation='relu', input_shape=(x_train.shape[1], 1)))
model.add(tf.keras.layers.Conv1D(filters=64, kernel_size=2, activation='relu'))
model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.MaxPooling1D(pool_size=2))
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(n_outputs, activation='softmax'))
opt = tf.keras.optimizers.SGD(lr=0.01, momentum=0.9)
model.compile(loss='binary_crossentropy', optimizer=opt, metrics=['acc'])
print(model.summary())
	
# fit network
hist = model.fit(x_train, y_train, epochs=epochs,validation_data=(x_test,y_test), batch_size=batch_size, verbose=1)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, 5, 64)             192
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 4, 64)             8256
_________________________________________________________________
dropout (Dropout)            (None, 4, 64)             0
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 2, 64)             0
_________________________________________________________________
flatten (Flatten)            (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 100)               12900
_________________________________________________________________
dense_1 (Dense)              (None, 2)                 202
=================================================================
Total params: 21,550
Trainable params: 21,550
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/100
3307/3307 [==============================] - 13s 4ms/step - loss: 0.6245 - acc: 0.6173 - val_loss: 0.3739 - val_acc: 0.9699
Epoch 2/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.4818 - acc: 0.7407 - val_loss: 0.3189 - val_acc: 0.9974
Epoch 3/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.3956 - acc: 0.8121 - val_loss: 0.2650 - val_acc: 0.9962
Epoch 4/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.3608 - acc: 0.8339 - val_loss: 0.2690 - val_acc: 0.9889
Epoch 5/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.3243 - acc: 0.8549 - val_loss: 0.2335 - val_acc: 0.9979
Epoch 6/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.3102 - acc: 0.8695 - val_loss: 0.1774 - val_acc: 0.9846
Epoch 7/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.2912 - acc: 0.8757 - val_loss: 0.1922 - val_acc: 0.9638
Epoch 8/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.2470 - acc: 0.8981 - val_loss: 0.0738 - val_acc: 0.9935
Epoch 9/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.2014 - acc: 0.9225 - val_loss: 0.0854 - val_acc: 0.9902
Epoch 10/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1949 - acc: 0.9257 - val_loss: 0.0916 - val_acc: 0.9934
Epoch 11/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1717 - acc: 0.9364 - val_loss: 0.0938 - val_acc: 0.9821
Epoch 12/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1525 - acc: 0.9433 - val_loss: 0.0588 - val_acc: 0.9908
Epoch 13/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1418 - acc: 0.9469 - val_loss: 0.3305 - val_acc: 0.8498
Epoch 14/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1283 - acc: 0.9522 - val_loss: 0.0610 - val_acc: 0.9908
Epoch 15/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1183 - acc: 0.9561 - val_loss: 0.0474 - val_acc: 0.9927
Epoch 16/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1218 - acc: 0.9546 - val_loss: 0.0613 - val_acc: 0.9878
Epoch 17/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1182 - acc: 0.9560 - val_loss: 0.1231 - val_acc: 0.9737
Epoch 18/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1192 - acc: 0.9556 - val_loss: 0.0331 - val_acc: 0.9934
Epoch 19/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1033 - acc: 0.9613 - val_loss: 0.1207 - val_acc: 0.9668
Epoch 20/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.1058 - acc: 0.9596 - val_loss: 0.0373 - val_acc: 0.9918
Epoch 21/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1021 - acc: 0.9617 - val_loss: 0.1403 - val_acc: 0.9525
Epoch 22/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.1051 - acc: 0.9604 - val_loss: 0.0293 - val_acc: 0.9939
Epoch 23/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0995 - acc: 0.9628 - val_loss: 0.0652 - val_acc: 0.9838
Epoch 24/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0971 - acc: 0.9636 - val_loss: 0.0711 - val_acc: 0.9835
Epoch 25/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0973 - acc: 0.9625 - val_loss: 0.0687 - val_acc: 0.9796
Epoch 26/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0984 - acc: 0.9634 - val_loss: 0.0566 - val_acc: 0.9849
Epoch 27/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0935 - acc: 0.9641 - val_loss: 0.0668 - val_acc: 0.9804
Epoch 28/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0902 - acc: 0.9654 - val_loss: 0.0370 - val_acc: 0.9927
Epoch 29/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0882 - acc: 0.9660 - val_loss: 0.1303 - val_acc: 0.9509
Epoch 30/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0877 - acc: 0.9671 - val_loss: 0.0382 - val_acc: 0.9945
Epoch 31/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0818 - acc: 0.9695 - val_loss: 0.2603 - val_acc: 0.8806
Epoch 32/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0868 - acc: 0.9660 - val_loss: 0.0740 - val_acc: 0.9832
Epoch 33/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0790 - acc: 0.9699 - val_loss: 0.0704 - val_acc: 0.9834
Epoch 34/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0810 - acc: 0.9702 - val_loss: 0.1955 - val_acc: 0.9278
Epoch 35/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0811 - acc: 0.9694 - val_loss: 0.0398 - val_acc: 0.9932
Epoch 36/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0811 - acc: 0.9694 - val_loss: 0.0949 - val_acc: 0.9750
Epoch 37/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0774 - acc: 0.9709 - val_loss: 0.0387 - val_acc: 0.9960
Epoch 38/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0822 - acc: 0.9688 - val_loss: 0.0635 - val_acc: 0.9834
Epoch 39/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0758 - acc: 0.9709 - val_loss: 0.0532 - val_acc: 0.9952
Epoch 40/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0767 - acc: 0.9702 - val_loss: 0.0345 - val_acc: 0.9980
Epoch 41/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0729 - acc: 0.9717 - val_loss: 0.0442 - val_acc: 0.9962
Epoch 42/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0756 - acc: 0.9708 - val_loss: 0.0505 - val_acc: 0.9933
Epoch 43/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0752 - acc: 0.9712 - val_loss: 0.0614 - val_acc: 0.9875
Epoch 44/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0708 - acc: 0.9722 - val_loss: 0.0477 - val_acc: 0.9924
Epoch 45/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0700 - acc: 0.9732 - val_loss: 0.0434 - val_acc: 0.9956
Epoch 46/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0714 - acc: 0.9728 - val_loss: 0.0853 - val_acc: 0.9769
Epoch 47/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0688 - acc: 0.9737 - val_loss: 0.0744 - val_acc: 0.9886
Epoch 48/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0670 - acc: 0.9745 - val_loss: 0.0660 - val_acc: 0.9778
Epoch 49/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0721 - acc: 0.9718 - val_loss: 0.0552 - val_acc: 0.9940
Epoch 50/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0662 - acc: 0.9747 - val_loss: 0.1964 - val_acc: 0.9295
Epoch 51/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0680 - acc: 0.9742 - val_loss: 0.0737 - val_acc: 0.9748
Epoch 52/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0666 - acc: 0.9742 - val_loss: 0.1873 - val_acc: 0.9337
Epoch 53/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0663 - acc: 0.9744 - val_loss: 0.0988 - val_acc: 0.9703
Epoch 54/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0649 - acc: 0.9750 - val_loss: 0.0726 - val_acc: 0.9882
Epoch 55/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0644 - acc: 0.9754 - val_loss: 0.0629 - val_acc: 0.9882
Epoch 56/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0626 - acc: 0.9762 - val_loss: 0.0591 - val_acc: 0.9921
Epoch 57/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0653 - acc: 0.9750 - val_loss: 0.0645 - val_acc: 0.9849
Epoch 58/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0598 - acc: 0.9771 - val_loss: 0.0429 - val_acc: 0.9975
Epoch 59/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0622 - acc: 0.9766 - val_loss: 0.0462 - val_acc: 0.9969
Epoch 60/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0635 - acc: 0.9747 - val_loss: 0.0367 - val_acc: 0.9986
Epoch 61/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0610 - acc: 0.9764 - val_loss: 0.0652 - val_acc: 0.9838
Epoch 62/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0594 - acc: 0.9770 - val_loss: 0.0847 - val_acc: 0.9770
Epoch 63/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0611 - acc: 0.9771 - val_loss: 0.0758 - val_acc: 0.9835
Epoch 64/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0599 - acc: 0.9767 - val_loss: 0.0519 - val_acc: 0.9929
Epoch 65/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0618 - acc: 0.9761 - val_loss: 0.1916 - val_acc: 0.9181
Epoch 66/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0594 - acc: 0.9774 - val_loss: 0.1591 - val_acc: 0.9369
Epoch 67/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0648 - acc: 0.9752 - val_loss: 0.1571 - val_acc: 0.9270
Epoch 68/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0560 - acc: 0.9789 - val_loss: 0.0894 - val_acc: 0.9767
Epoch 69/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0597 - acc: 0.9773 - val_loss: 0.0437 - val_acc: 0.9954
Epoch 70/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0598 - acc: 0.9770 - val_loss: 0.0508 - val_acc: 0.9903
Epoch 71/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0597 - acc: 0.9775 - val_loss: 0.0334 - val_acc: 0.9985
Epoch 72/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0555 - acc: 0.9788 - val_loss: 0.0745 - val_acc: 0.9865
Epoch 73/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0565 - acc: 0.9781 - val_loss: 0.0455 - val_acc: 0.9977
Epoch 74/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0567 - acc: 0.9781 - val_loss: 0.0482 - val_acc: 0.9975
Epoch 75/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0599 - acc: 0.9763 - val_loss: 0.0445 - val_acc: 0.9947
Epoch 76/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0596 - acc: 0.9770 - val_loss: 0.0879 - val_acc: 0.9797
Epoch 77/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0559 - acc: 0.9779 - val_loss: 0.0561 - val_acc: 0.9925
Epoch 78/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0541 - acc: 0.9796 - val_loss: 0.0551 - val_acc: 0.9939
Epoch 79/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0552 - acc: 0.9790 - val_loss: 0.1069 - val_acc: 0.9628
Epoch 80/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0538 - acc: 0.9797 - val_loss: 0.0706 - val_acc: 0.9820
Epoch 81/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0575 - acc: 0.9775 - val_loss: 0.0941 - val_acc: 0.9720
Epoch 82/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0585 - acc: 0.9773 - val_loss: 0.0636 - val_acc: 0.9886
Epoch 83/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0536 - acc: 0.9794 - val_loss: 0.0832 - val_acc: 0.9801
Epoch 84/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0529 - acc: 0.9794 - val_loss: 0.0719 - val_acc: 0.9828
Epoch 85/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0531 - acc: 0.9797 - val_loss: 0.0524 - val_acc: 0.9931
Epoch 86/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0507 - acc: 0.9806 - val_loss: 0.0743 - val_acc: 0.9793
Epoch 87/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0512 - acc: 0.9806 - val_loss: 0.1408 - val_acc: 0.9367
Epoch 88/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0507 - acc: 0.9808 - val_loss: 0.0480 - val_acc: 0.9941
Epoch 89/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0524 - acc: 0.9802 - val_loss: 0.0875 - val_acc: 0.9738
Epoch 90/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0516 - acc: 0.9804 - val_loss: 0.0551 - val_acc: 0.9908
Epoch 91/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0529 - acc: 0.9797 - val_loss: 0.0833 - val_acc: 0.9799
Epoch 92/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0543 - acc: 0.9797 - val_loss: 0.0742 - val_acc: 0.9822
Epoch 93/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0512 - acc: 0.9807 - val_loss: 0.0527 - val_acc: 0.9928
Epoch 94/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0508 - acc: 0.9808 - val_loss: 0.0748 - val_acc: 0.9842
Epoch 95/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0546 - acc: 0.9790 - val_loss: 0.0456 - val_acc: 0.9986
Epoch 96/100
3307/3307 [==============================] - 11s 3ms/step - loss: 0.0504 - acc: 0.9811 - val_loss: 0.0931 - val_acc: 0.9718
Epoch 97/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0510 - acc: 0.9803 - val_loss: 0.0711 - val_acc: 0.9843
Epoch 98/100
3307/3307 [==============================] - 12s 3ms/step - loss: 0.0484 - acc: 0.9816 - val_loss: 0.0337 - val_acc: 0.9955
Epoch 99/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0499 - acc: 0.9806 - val_loss: 0.0314 - val_acc: 0.9984
Epoch 100/100
3307/3307 [==============================] - 12s 4ms/step - loss: 0.0514 - acc: 0.9807 - val_loss: 0.0838 - val_acc: 0.9801

In [ ]:
preds = model.predict(x_test)
con_mat=metrics.confusion_matrix(y_test.argmax(axis=1), preds.argmax(axis=1)) 
print()
print()
print()    
print("\t\t\t     CONFUSION MATRIX")
print("\t\t\t+------------------------+")
print("\t\t\t|\tTP  |\tFP\t |")
print("\t\t\t+------------------------+")
print("\t\t\t|\t",con_mat[0][0],"|\t",con_mat[0][1],"\t |")
print("\t\t\t+------------------------+")
print("\t\t\t|\t",con_mat[1][0],"|\t",con_mat[1][1],"\t |")
print("\t\t\t+------------------------+")
print("\t\t\t|\tFN  |\tTN\t |")
print("\t\t\t+------------------------+")
print()
print()
print()

			     CONFUSION MATRIX
			+------------------------+
			|	TP  |	FP	 |
			+------------------------+
			|	 31 |	 2 	 |
			+------------------------+
			|	 525 |	 25938 	 |
			+------------------------+
			|	FN  |	TN	 |
			+------------------------+

In [ ]:
#Print the Evaluation Metrics
print(metrics.classification_report(y_test.argmax(axis=1), preds.argmax(axis=1)))

              precision    recall  f1-score   support

           0       0.06      0.94      0.11        33
           1       1.00      0.98      0.99     26463

    accuracy                           0.98     26496
   macro avg       0.53      0.96      0.55     26496
weighted avg       1.00      0.98      0.99     26496

In [ ]:
cm=con_mat

CALCULATING METRICS MANUALLY

In [ ]:
#Accuracy = (TP+TN)/(TP+TN+FP+FN)

In [ ]:
print("Accuracy",(cm[0][0]+cm[1][1])/cm.sum())

Accuracy 0.9801102053140096

In [ ]:
#Precision = TP / (TP+FP)

In [ ]:
prec=cm[0][0]/(cm[0][0]+cm[0][1])
print("Precision",cm[0][0]/(cm[0][0]+cm[0][1]))

Precision 0.9393939393939394

In [ ]:
#Recall = TP / (TP+FN)

In [ ]:
rec=cm[0][0]/(cm[0][0]+cm[1][0])
print("Recall",cm[0][0]/(cm[0][0]+cm[1][0]))

Recall 0.05575539568345324

In [ ]:
#F1-score = 2*[(Precision*Recall)/(Precision+Recall)]

In [ ]:
print("F1 score",2*(prec*rec/(prec+rec)))

F1 score 0.10526315789473684